* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: rgb(238, 238, 238);
}

.head {
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
    font-size: 16px;
}

.dropdown select,
.dropdown button {
    font-size: 12px;
}


.main {
    display: flex;
}

.left-sidebar {
    width: 20%;
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(221, 221, 221);
}

.leftform {
    margin: 20px 0px;
    background-color: rgb(204, 204, 204);
    padding: 10px;
}

.leftform label {
    background-color: rgb(221, 221, 221);
}

.left-form-terms,
.left-sidebar {
    margin: 10px 0px;
    line-height: 1.5rem;
    text-align: center;
}

#email {
    background-color: rgb(238, 238, 238);
}

.center-col,
.right-cent-col,
.right-col {
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
}

.events,
.personals,
.activity,
.housing,
.sale,
.jobs {
    background-color: white;
}

.discussion,
.resumes {
    margin-top: 20px;
}

.center-col h3,
.right-cent-col h3,
.right-col h3 {
    background-color: rgb(221, 221, 221);
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #0000ee;
    text-decoration-line: underline;
}
