* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 70%;
    margin: auto;
}

header {
    margin-bottom: 10px;
}

.header-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn {
    display: flex;
}

.header-btn-menu {
    display: flex;
    gap: 2px;
    justify-content: center;
    height: 25px;
    width: 600px;

}

.header-btn-menu button {
    padding: 0px 10px;
    background-color: #003366;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 2px;
}

.space-blw-btn {
    height: 30px;
    background-color: #336699;

}

.header-btn-menu .welcome-hearder {
    background-color: #336699;
    width: 100px;
    min-height: 30px;
    padding-bottom: 10px;
    line-height: 16px;
    border-bottom: none;
}

.header-list {
    display: flex;
    gap: 20px;
}

main {
    display: flex;
}

.main-left {
    display: flex;
    flex-direction: column;
}
.main-left-section {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    margin-bottom: 20px;
}

.main-left-section h4 {
    background-color: #CCCCCC;
    font-size: large;
    font-weight: 800;
}

.main-left-section li {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    list-style:circle, blue;    
}

.main-left-section button {
    margin-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid black;
    width: 60px;
    background-color: #CCCCCC;
}
/* 
.main-left-section p {
    text-align: right;
} */

.main-left-section-blw h4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #CCCCCC;
    font-size: large;
    font-weight: 800;
}

.main-left-section-blw p {
    text-align: right;
    background-color: antiquewhite;
}


.main-right-section {
    flex-grow: 3;
    border: 1px solid blue;
}

.footer-section {
    display: flex;
    flex-direction: column;
    border: 1px solid yellowgreen;
}